@use "../../styles/variable.scss";

.menu {
  .title {
    color: variable.$soft-color;
    font-weight: 200;
    font-size: 12px;
    text-transform: uppercase;
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
  }

  .listItem {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
  }
}
